src/main/mule/mule-demo-azure.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1b981c58-c459-46f4-a741-5d8850502b7e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="755b4c83-c468-41a4-8826-b0692459cffe" file="${env}.yaml" />
	<flow name="mule-demo-azureFlow" doc:id="366ac3eb-0df5-4bb9-80f0-0654f88a9b4c" >
		<http:listener doc:name="Listener" doc:id="4b642685-149b-4af2-8c5c-73435a57a6d3" config-ref="HTTP_Listener_config" path="/azure-data"/>
		<logger level="INFO" doc:name="Logger" doc:id="df48d4e7-48ae-4da6-8950-656b6ce85851" message='#["Call initiated"]'/>
		<choice doc:name="Choice" doc:id="a1bcd238-e1b8-4088-b6d2-e24b85e867c6" >
			<when expression="#[Mule::p('env') == &quot;dev&quot;]">
				<set-payload value='#["Flow executed Dev environment with out an errors!"]' doc:name="Set Payload" doc:id="d784b200-90b6-42cc-a9ec-e4b30d178936" />
			</when>
			<otherwise >
				<set-payload value='#["Flow executed Stage environment with out an errors!"]' doc:name="Set Payload" doc:id="5d141e3d-deca-4ab0-b36d-2eff8ffa7db6" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="1cd2f826-5b59-46a9-9586-5598b8811eb0" message='#["Call completed.."]'/>
	</flow>
</mule>
